* {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

body {
    -webkit-text-size-adjust: none;
	touch-action: none;
    overflow: hidden;
    background: rgb(59, 62, 64);
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}

h1{
    font-size: 1.25em;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 120vw;
    height: 120vh;
    object-fit: cover;
    z-index: -1;
    filter: blur(400px); 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.75);
    width: 20%;
}

/* extras */
.backdrop {
    width: 75vw;
    height: auto;
    padding-bottom: 100px;
    z-index: 1;
}

.monkey {
    width: 35vw;
    height: auto;
    z-index: 2;
}

.center-vertically {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center-horizontally {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unselectable {
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}