<div class="overlay load-content" id="loader">
    <img src="/assets/web/backdrop.png" alt="Background Image" class="load-content background-image unselectable">
    <script src="/static/js/loader.js"></script>
    <link rel="preload" href="/static/css/loader.css" as="style">
    <link rel="stylesheet" href="/static/css/loader.css" media="print" onload="this.media='all'">
    <div class="load-stuff">
        <img src="/assets/web/backdrop.png" alt="Background Image" class="background-image unselectable">
        <div class="shake-vertical loader-anim-content">
            <img src="/assets/web/Logo.png" class="load-content image rotate-90-vertical-fwd unselectable" alt="Menu" width="750" height="750">
            <img src="/assets/web/rocket.png" class="load-content image rotate-90-vertical-bck unselectable" alt="Menu" width="750" height="750">
        </div>
        <h6 class="load-content Zen-Dots">Traveling to destination</h6>
    </div>
  </div>