<div class="menu" id="menu">
    <div class="menu-content">
      <p class="Zen-Dots menu-title">THE GATEWAY</p>
  
      <div class="menu-menu">
        <div class="horizontal-seperator line-with-circles menu-line">
          <div class="circle left-circle"></div>
          <div class="line"></div>
          <div class="circle right-circle"></div>
        </div>
      
        <ul class="menu-list">
          <li><a class="button menu-link Zen-Dots" href="/">Portal</a><span class="menu-link-descriptor">HOME</span></li>
          <li><a class="button menu-link Zen-Dots" href="/projects">Showcase </a><span class="menu-link-descriptor">PROJECTS</span></li>
          <li><a class="button menu-link Zen-Dots" href="/extras">Beneath the Surface</a><span class="menu-link-descriptor">EXTRAS</span></li>
          <li><a class="button menu-link Zen-Dots" href="/blog">Infinite Imagination Insights</a><span class="menu-link-descriptor">BLOG</span></li>
          <li><a class="button menu-link Zen-Dots" href="/about">Behind the Scenes</a><span class="menu-link-descriptor">ABOUT</span></li>
          <li><a class="button menu-link Zen-Dots" href="/contact">Let's Connect</a><span class="menu-link-descriptor">CONTACT</span></li>
        </ul>
      </div>
    </div>
  </div>
  
  <nav class="navbar sticky-top position-sticky navbar-expand-lg navagation-bar">
      <div class="container-fluid" style="padding-left: 50px;">
        <button class="unselectable button menuButton" id="menuButton">
          <img src="/assets/web/Menu-Right.png" class="unselectable" alt="Menu" width="75" height="auto">
        </button>
      </div>
  </nav>